[submodule "docSource/themes/documentation"]
	path = docSource/themes/documentation
	url = git@github.com:Loki-Astari/andvari-theme-documentation.git
[submodule ".build"]
	path = build
	url = ../ThorMaker.git
[submodule "third/ThorsStorage"]
	path = third/ThorsStorage
	url = git@github.com:Loki-Astari/ThorsStorage.git
[submodule "third/ThorsCrypto"]
	path = third/ThorsCrypto
	url = git@github.com:Loki-Astari/ThorsCrypto.git
[submodule "third/ThorsSocket"]
	path = third/ThorsSocket
	url = git@github.com:Loki-Astari/ThorsSocket.git
[submodule "third/ThorsLogging"]
	path = third/ThorsLogging
	url = git@github.com:Loki-Astari/ThorsLogging.git
[submodule "third/ThorsIOUtil"]
	path = third/ThorsIOUtil
	url = git@github.com:Loki-Astari/ThorsIOUtil.git
