[submodule "docSource/themes/documentation"]
	path = docSource/themes/documentation
	url = ../andvari-theme-documentation.git
[submodule ".build"]
	path = build
	url = ../../Loki-Astari/ThorMaker.git
[submodule "third/fastfloat"]
	path = third/fastfloat
	url = https://github.com/fastfloat/fast_float.git
